Fase2/XSDClasificacion.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="clasificacion" type="tipoClasificacion"/>
  
  <xs:complexType name="tipoClasificacion">
    <xs:sequence>
      <xs:element name="equipo" maxOccurs="unbounded" type="tipoEquipo"/>
    </xs:sequence>
  </xs:complexType>
  
  <xs:complexType name="tipoEquipo">
    <xs:sequence>
      <xs:element name="ID_EQUIPO" type="xs:int"/>
      <xs:element name="PUNTOS" type="xs:int"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>