Fase2/XML/DTDJornadas.dtd

<!ELEMENT jornada (partido+,fechaExpira?)>
<!ATTLIST jornada id ID #REQUIRED>
<!ATTLIST jornada fecha CDATA #REQUIRED>

<!ELEMENT partido (equipo1,equipo2)>
<!ATTLIST partido id ID #REQUIRED>
<!ATTLIST partido hora CDATA #REQUIRED>

<!ELEMENT equipo1 (#PCDATA)>
<!ATTLIST equipo1 resultado (ganador|perdedor) #REQUIRED>

<!ELEMENT equipo2 (#PCDATA)>
<!ATTLIST equipo2 resultado (ganador|perdedor) #REQUIRED>

<!ELEMENT fechaExpira (#PCDATA)>